$main-color: #f15543;
$black-color:#1a1a1a;
$height-header:120px;
$position:50%;
@mixin hover($bg,$color) {
    &:hover {
        background-color: $bg;
        color: $color;
    }
}
* {
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.line {
    width: 3px;
    height: 30px;
    background-color: $main-color;
    margin-top: 8px;
}
.color-main {
    color: $main-color;
    cursor: pointer;
}
.border-solid {
    border: 1px solid #4a4a4a;
}
.button-slider {
    width: 40px !important; 
    height: 40px !important;
    border-radius: 50%;
    color: $main-color;
    background-color: transparent;
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all ease 1.4s;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
.right_animate {
    position: relative;
    opacity: 0;
    transform: translateX(100%);
    transition: all ease 0.6s;
}
.right_animate.active {     
    opacity: 1;
    transform: translate(0);
}
.left_animate {
    position: relative;
    opacity: 0;
    transform: translateX(-150px);
    transition: all ease 0.8s;
}
.left_animate.active {
    opacity: 1;
    transform: translate(0);
}
header {
    height: $height-header;
    .image {
        width: 95px;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .menu {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 1px solid $main-color;
        position: relative;
        span {
            display: block;
            width: 100%;
            height: 3px;
            background: $black-color;
            margin: auto;
            border-radius: 6px;
            transition: all ease 0.2s;

            &:nth-child(1) {
                transform-origin: left center;
            }
            &:nth-child(2) {
                transform-origin: left center;
            }
            &:nth-child(3) {
                transform-origin: left center;
            }
        }
        &.open span {
            position: absolute;
        }
        &.open span:nth-child(1) {
            transform: rotate(45deg);
            top: 5px;
            left: 6px;
        }
        &.open span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }
        &.open span:nth-child(3) {
            transform: rotate(-45deg);
            top: 32px;
            left: 6px;
        }
    }
    .d-move {
        transform: translateY(-200%);
        transition: all ease-in 0.1s;
    }
    .header-menu {
        transition: all ease-in 0.5s;
        overflow-y: scroll;
        a {
            transition: all ease-in 0.2s;
            text-decoration: none;
            @include hover(none,$main-color !important);
        }
        .request-header {
            button {
                background-color: $main-color;
                transition: all ease-in 0.2s;
                @include hover(#cc3827, #fff);
            }
        }
        .fa-instagram {
            color: $main-color;
        }
        .email {
            cursor: pointer;
            @include hover(none,$main-color);
        }
    }
    .page-lg-header {
        .header-lg-link {
            transition: all ease-in 0.2s;
            text-decoration: none;
            @include hover(none,$main-color !important); 
        }
    }
    .menu-btn {
        button {
            border: 1px solid $main-color;
            background:#fff;
            transition: all ease-in 0.2s;
            @include hover(#f15543, #fff);
        }
    }
}
main {
    .hidden {
        filter: blur(33px);
        transform: translateX(-100%);
        opacity: 0;
    }
    .show {
        filter: blur(33px);
        transform: translateX(-100%);
        opacity: 0;
    }
    .Backtotop {
        z-index: 999;
        position: fixed;
        bottom: 40px;
        right: 40px;
        i {
            width: 50px;
            height: 50px;
            background-color: $main-color;
            color: #fff;
            cursor: pointer;
        }
    }
    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: all ease-in 0.2s;
    }
    .reveal.active {
        opacity: 1;
        transform: translateY(0);
    }
    #intro {        
        .intro-header {
            &-founder__line {
                margin-top: 8px;                
                background-color: $main-color;
            }            
            & button {
                background-color: $main-color;
                color: #fff;
                padding: 12px 0;
                border: none;
                transition: all ease-in 0.2s;
                @include hover(#cc3827,#fff);
            }
            &__serve-email {
                cursor: pointer;
                @include hover(#fff,$main-color );
            }
            .scroll-mouse {
                text-decoration: none;
                color: #000;
                cursor: pointer;
                @include hover(#fff,$main-color );
            }
            &-founder {
                img {
                    object-fit: contain;    
                    transform: translate(-50%,-50%);
                    top: 120%;
                    left: 54%;
                    width: 60%;
                    background-repeat: no-repeat;
                    background-size: 100%;  
                }
            }
        }
        @media screen and (min-width:981px) {
            .intro-header {
                a {
                    transition: all ease-in 0.2s;
                    text-decoration: none;
                    @include hover(none,$main-color);
                    &:hover {
                        img {
                            transition: all ease-in 0.2s;
                            transform: scale(1.1);
                        }
                    }
                    img {
                        width: 100%;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
    #statistic {
        .statistic_full {
            background-image: url(https://www.tdmobiledetailing.com/_nuxt/img/homepage-2-lg.dccee84.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .play-video {
            cursor: pointer;
            i {
                width: 60px;    
                height: 60px;
                background-color: $main-color;
            }
            &:hover {
                i {
                    background-color: #cc3827;
                }
                h3 {
                    color: #cc3827;
                }
            }
        }
    }
    #Service {
        button {
            background-color: $main-color;
            font-size: 14px;
            @include hover(#f15543 !important, #fff !important);
        }
        .service {
            padding-top: 100px;
            background: #000;
        }
        .location {
            color: $main-color;
        }
        .service_detail {
            transition: all ease-in 0.4s;
            cursor: pointer;
            &-img {
                width: 220px;
            }
            &:hover {
                transition: all ease-in 0.4s;
                img {
                    transform: scale(1.04);
                }
                p {
                    color: #fff !important;
                }
                h1,
                .detail {
                    color: $main-color;
                }
            }
            .detail {
                border-bottom: 1px solid $main-color;
            }
            &-img {
                min-width: 220px;
                min-height: 280px;
            }
        }
        .img-container {
            width: 100%;
            height: 530px;
            position: relative;
            margin: 20px;
            .image {
                height: 100%;
                background-repeat: no-repeat;
                background-position: top left;
                background-size: cover;
                position: absolute;
                top: 0px;
                left: 0px;
            }
            
            .before {
                width: 50%;
                z-index: 2;
            }
            
            .after {
                width: 100%;
                z-index: 1;
            }
            
            input.slider {
                width: 100%;
                height: 100%;
                outline: none;
                background-color: transparent;
                position: absolute;
                margin: 0px;
                z-index: 3;
                cursor: pointer;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                transition: 0.25s all ease-in-out;
                -moz-transition: 0.25s all ease-in-out;
                -webkit-transition: 0.25s all ease-in-out;
                z-index: 4;
            }
            
            input.slider::-moz-range-thumb {
                width: 6px;
                height: 800px;
                background-color: white;
                cursor: pointer;
            }
            
            input.slider::-webkit-slider-thumb {
                width: 6px;
                height: 530px;
                background-color: white;
                cursor: pointer;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
            }
            
            div.slider-button {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                -moz-broder-radius: 50%;
                -webkit-border-radius: 50%;
                background-color: white;
                position: absolute;
                top: calc(50% - 18px);
                left: calc(50% - 18px);
                cursor: pointer;
                z-index: 3;
            }
            
            div.slider-button:before {
                color: #555;
                position: absolute;
                top: 3px;
                left: 0px;
                content: "\2B9C";
            }
            
            div.slider-button:after {
                color: #555;
                position: absolute;
                top: 3px;
                right: 0px;
                content: "\2B9E";
            }
        }
        
    }
    #Truedetail {
        .True-Detail {
            background-color: #e5e5e5;
        }
        .fa-instagram {
            color: $main-color;
        }
        .yahoo,
        .phone,
        .insta {
            cursor: pointer;
            @include hover(none,$main-color);
        }
        .detail-image {
            img {
                object-fit: contain;
            }
            a {
                text-decoration: none;
                i {
                    width: 60px;
                    height: 60px;
                    background-color: $main-color;
                } 
                div {
                    max-width:180px;
                    font-size: 14px;
                }
                @include hover(none,$main-color);
            }
        }
        .detail-imaged_statistic {
            border: 1px solid #b8b8b8;   
            .number {
                font-size: 60px;
            }
            .experience {
                color: $main-color;
            }
        }
        button {
            background-color: $main-color;
            transition: all ease-in 0.2s;
            @include hover(#cc3827, none)   ;
        }
    }
    #clients {
        .carousel-span {
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: $main-color;
        }
    }
    #carSlider {
        .car-slider {
            width: 60px;
            height: 60px;            
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255,0.4);
            outline: none;
            @include hover($main-color, #fff);
        }
        .car-slider:nth-child(1) {
            left: 50px;
        }
        .car-slider:nth-child(2) {
            right: 50px;
        }
    }
}
footer {
    background-color: #1a1a1a;
    button {
        background-color: $main-color;
        @include hover( #cc3827, none);
    }
    .yahoo,
    .phone,
    .locate {
        color: $main-color;
    }
    .social {
        color: $main-color;
    }
    .fa-instagram {
        color: $main-color;
    }
    img {
        width: 100px;
    }
}